
/*程式技能*/
    .skill
    {
        background-color:#FAE1DD;
        height: 500px;
        width: 1073px;
        position:absolute;
        top: 678px;
        left: 430px;
        border-radius: 20px;
    }

    .skillword,.skillword2
    {
        font-family: 華康竹風體W4;
        color:rgba(32, 136, 131, 0.834);
        font-size: 30px;
        font-weight: 600;
    }

    .skillword
    { 
        position: absolute;
        left: 100px;
        top:20px;
    }

    .skillword2
    {
        position: absolute;
        left: 630px;
        top:20px;
    }

/*圈圈1*/
    .circleProgress_wrapper
    {
        width: 150px;
        height: 150px;
        position: relative ;
        left: 60px;
        top:90px;
    }

    .wrapper
    {
        width: 75px;
        height: 150px;
        position: absolute;
        top:0;
        overflow: hidden;
    }

    .right
    {
        right:0;
    }

    .left
    {
        left:0;
    }

    .circleProgress
    {
        width: 110px;
        height: 110px;
        border:20px solid #FFD7BA;
        border-radius: 50%;
        position: absolute;
        top:0;
        -webkit-transform: rotate(45deg);
    }

    .rightcircle
    {
        border-top:20px solid #FFD7BA;
        border-right:20px solid #FFD7BA;
        right:0;
        -webkit-animation: circleProgressLoad_right 7s linear infinite;
    }

    .leftcircle
    {
        border-bottom:20px solid #FFD7BA;
        border-left:20px solid #FFD7BA;
        left:0;
        -webkit-animation: circleProgressLoad_left 7s linear infinite;
    }
    
    @-webkit-keyframes circleProgressLoad_right
    {
        0%
        {
            border-top:20px solid #F8EDEB;
            border-right:20px solid #F8EDEB;
            -webkit-transform: rotate(45deg);
        }
        50%
        {
            border-top:20px solid #F8EDEB;
            border-right:20px solid #F8EDEB;
            border-left:20px solid #FFD7BA;
            border-bottom:20px solid #FFD7BA;
            -webkit-transform: rotate(225deg);
        }
        100%
        {
            border-left:20px solid #FFD7BA;
            border-bottom:20px solid #FFD7BA;
            -webkit-transform: rotate(225deg);
        }
    }

    @-webkit-keyframes circleProgressLoad_left
    {
        0%
        {
            border-bottom:20px solid #F8EDEB;
            border-left:20px solid #F8EDEB;
            -webkit-transform: rotate(45deg);
        }
        50%
        {
            border-bottom:20px solid #F8EDEB;
            border-left:20px solid #F8EDEB;
            border-top:20px solid #FFD7BA;
            border-right:20px solid #FFD7BA;
            -webkit-transform: rotate(45deg);
        }
        100%
        {
            border-top:20px solid #FFD7BA;
            border-right:20px solid #FFD7BA;
            border-bottom:20px solid #F8EDEB;
            border-left:20px solid #F8EDEB;
            -webkit-transform: rotate(120deg);
        }

    }

/*圈圈2*/
    .circleProgress_wrapper2
    {
        width: 150px;
        height: 150px;
        position: relative;
        top: 140px;
        left: 60px;
    }

    .wrapper2
    {
        width: 75px;
        height: 150px;
        position: absolute;
        top:0;
        overflow: hidden;
    }

    .right2
    {
        right:0;
    }

    .left2
    {
        left:0;
    }

    .circleProgress2
    {
        width: 110px;
        height: 110px;
        border:20px solid #FFD7BA;
        border-radius: 50%;
        position: absolute;
        top:0;
        -webkit-transform: rotate(45deg);
    }

    .rightcircle2
    {
        border-top:20px solid #FFD7BA;
        border-right:20px solid #FFD7BA;
        right:0;
        -webkit-animation: circleProgressLoad_right 7s linear infinite;
    }

    .leftcircle2
    {
        border-bottom:20px solid #FFD7BA;
        border-left:20px solid #FFD7BA;
        left:0;
        -webkit-animation: circleProgressLoad_left 7s linear infinite;
    }

    @-webkit-keyframes circleProgressLoad_right2
    {
        0%
        {
            border-top:20px solid #F8EDEB;
            border-right:20px solid #F8EDEB;
            -webkit-transform: rotate(45deg);
        }
        50%
        {
            border-top:20px solid #F8EDEB;
            border-right:20px solid #F8EDEB;
            border-left:20px solid #FFD7BA;
            border-bottom:20px solid #FFD7BA;
            -webkit-transform: rotate(225deg);
        }
        100%
        {
            border-left:20px solid #FFD7BA;
            border-bottom:20px solid #FFD7BA;
            -webkit-transform: rotate(225deg);
        }
        }
    @-webkit-keyframes circleProgressLoad_left2
    {
        0%
        {
            border-bottom:20px solid #F8EDEB;
            border-left:20px solid #F8EDEB;
            -webkit-transform: rotate(45deg);
        }
        50%
        {
            border-bottom:20px solid #F8EDEB;
            border-left:20px solid #F8EDEB;
            border-top:20px solid #FFD7BA;
            border-right:20px solid #FFD7BA;
            -webkit-transform: rotate(45deg);
        }
        100%
        {
            border-top:20px solid #FFD7BA;
            border-right:20px solid #FFD7BA;
            border-bottom:20px solid #F8EDEB;
            border-left:20px solid #F8EDEB;
            -webkit-transform: rotate(120deg);
        }
    }

/*圈圈3*/
    .circleProgress_wrapper3
    {
        width: 150px;
        height: 150px;
        position:relative;
        left: 330px;
        top:-260px
    }

    .wrapper3
    {
        width: 75px;
        height: 150px;
        position: absolute;
        top:0;
        overflow: hidden;
    }

    .right3
    {
        right:0;
    }

    .left3
    {
        left:0;
    }

    .circleProgress3
    {
        width: 110px;
        height: 110px;
        border:20px solid #FFD7BA;
        border-radius: 50%;
        position: absolute;
        top:0;
        -webkit-transform: rotate(45deg);
    }

    .rightcircle3
    {
        border-top:20px solid #FFD7BA;
        border-right:20px solid #FFD7BA;
        right:0;
        -webkit-animation: circleProgressLoad_right 7s linear infinite;
    }

    .leftcircle3
    {
        border-bottom:20px solid #FFD7BA;
        border-left:20px solid #FFD7BA;
        left:0;
        -webkit-animation: circleProgressLoad_left 7s linear infinite;
    }
    
    @-webkit-keyframes circleProgressLoad_right3
    {
        0%
        {
            border-top:20px solid #F8EDEB;
            border-right:20px solid #F8EDEB;
            -webkit-transform: rotate(45deg);
        }
        50%
        {
            border-top:20px solid #F8EDEB;
            border-right:20px solid #F8EDEB;
            border-left:20px solid #FFD7BA;
            border-bottom:20px solid #FFD7BA;
            -webkit-transform: rotate(225deg);
        }
        100%
        {
            border-left:20px solid #FFD7BA;
            border-bottom:20px solid #FFD7BA;
            -webkit-transform: rotate(225deg);
        }
    }

    @-webkit-keyframes circleProgressLoad_left3
    {
        0%
        {
            border-bottom:20px solid #F8EDEB;
            border-left:20px solid #F8EDEB;
            -webkit-transform: rotate(45deg);
        }
        50%
        {
            border-bottom:20px solid #F8EDEB;
            border-left:20px solid #F8EDEB;
            border-top:20px solid #FFD7BA;
            border-right:20px solid #FFD7BA;
            -webkit-transform: rotate(45deg);
        }
        100%
        {
            border-top:20px solid #FFD7BA;
            border-right:20px solid #FFD7BA;
            border-bottom:20px solid #F8EDEB;
            border-left:20px solid #F8EDEB;
            -webkit-transform: rotate(120deg);
        }
    }

/*圈圈4*/
    .circleProgress_wrapper4
    {
        width: 150px;
        height: 150px;
        position: relative;
        left: 330px;
        top:-211px
    }

    .wrapper4
    {
        width: 75px;
        height: 150px;
        position: absolute;
        top:0;
        overflow: hidden;
    }

    .right4
    {
        right:0;
    }

    .left4
    {
        left:0;
    }

    .circleProgress4
    {
        width: 110px;
        height: 110px;
        border:20px solid #FFD7BA;
        border-radius: 50%;
        position: absolute;
        top:0;
        -webkit-transform: rotate(45deg);
    }

    .rightcircle4
    {
        border-top:20px solid #FFD7BA;
        border-right:20px solid #FFD7BA;
        right:0;
        -webkit-animation: circleProgressLoad_right 7s linear infinite;
    }

    .leftcircle4
    {
        border-bottom:20px solid #FFD7BA;
        border-left:20px solid #FFD7BA;
        left:0;
        -webkit-animation: circleProgressLoad_left 7s linear infinite;
    }
    
    @-webkit-keyframes circleProgressLoad_right4
    {
        0%
        {
            border-top:20px solid #F8EDEB;
            border-right:20px solid #F8EDEB;
            -webkit-transform: rotate(45deg);
        }
        50%
        {
            border-top:20px solid #F8EDEB;
            border-right:20px solid #F8EDEB;
            border-left:20px solid #FFD7BA;
            border-bottom:20px solid #FFD7BA;
            -webkit-transform: rotate(225deg);
        }
        100%
        {
            border-left:20px solid #FFD7BA;
            border-bottom:20px solid #FFD7BA;
            -webkit-transform: rotate(225deg);
        }
    }

    @-webkit-keyframes circleProgressLoad_left4
    {
        0%
        {
            border-bottom:20px solid #F8EDEB;
            border-left:20px solid #F8EDEB;
            -webkit-transform: rotate(45deg);
        }
        50%
        {
            border-bottom:20px solid #F8EDEB;
            border-left:20px solid #F8EDEB;
            border-top:20px solid #FFD7BA;
            border-right:20px solid #FFD7BA;
            -webkit-transform: rotate(45deg);
        }
        100%
        {
            border-top:20px solid #FFD7BA;
            border-right:20px solid #FFD7BA;
            border-bottom:20px solid #F8EDEB;
            border-left:20px solid #F8EDEB;
            -webkit-transform: rotate(120deg);
        }
    }

    div.circle1
    {
        font-family: 華康竹風體W4 ;
        font-weight: 700;
        font-size: 26px;
        position: relative;
        left: 110px;
        top:0px;
    }

    div.circle2
    {
        font-family: 華康竹風體W4 ;
        font-weight: 700;
        font-size: 26px;
        position: relative;
        left: 115px;
        top:50px;
    }

    div.circle3
    {
        font-family: 華康竹風體W4 ;
        font-weight: 700;
        font-size: 26px;
        position: relative;
        left: 393px;
        top:-350px;
    }

    div.circle4
    {
        font-family: 華康竹風體W4 ;
        font-weight: 700;
        font-size: 26px;
        position: relative;
        left: 380px;
        top: -300px;
    }

/*第一個長條圖*/
    .longword1,.longword2,
    .longword3,.longword4
    {
        font-family: 華康竹風體W4;
        font-weight: 700;
        font-size: 26px;
        color:rgb(74, 70, 70);
    }

    .progress1
    {
        width: 25%;
        height: 30px;
        border:1px solid rgb(0, 0, 0);
        border-radius: 15px;
        margin: 50px 0 0 100px;
        position: absolute;
        left: 650px;
        top: 50px;
        overflow: hidden;
        box-shadow: 0 0 5px 0px #ddd inset;
    }

    .progress1 span 
    {
        display: inline-block;
        width: 80%;
        height: 100%;
        background: -webkit-linear-gradient(45deg, #ffe298 33%,#f8e5b6 34%,#f8e5b6 59%,#ffe298 60%);
        background-size: 60px 30px;
        text-align: center;
        color:#fff;
        -webkit-animation:load 2s ease-in;
    }

    @-webkit-keyframes load
    {
        0%
        {
            width: 0%;
        }
        100%
        {
            width:80%;
        }
    }

    .longword1
    {
        position: absolute;
        left: 660px;
        top: 100px;
    }

    .longpic1
    {
        height: 40px;
        position: absolute;
        top: 93px;
        left: 610px;
    }

/*第二個長條圖*/
    .progress2
    {
        width: 25%;
        height: 30px;
        border:1px solid rgb(0, 0, 0);
        border-radius: 15px;
        margin: 50px 0 0 100px;
        position: absolute;
        left: 650px;
        top: 150px;
        overflow: hidden;
        box-shadow: 0 0 5px 0px #ddd inset;
    }

    .progress2 span 
    {
        display: inline-block;
        width: 65%;
        height: 100%;
        background: -webkit-linear-gradient(45deg, #ffe298 33%,#f8e5b6 34%,#f8e5b6 59%,#ffe298 60%);
        background-size: 60px 30px;
        text-align: center;
        color:#fff;
        -webkit-animation:load 2s ease-in;
    }

    @-webkit-keyframes load
    {
        0%
        {
            width: 0%;
        }
        100%
        {
            width:65%;
        }
    }

    .longword2
    {
        position: absolute;
        left: 665px;
        top: 200px;
    }

    .longpic2
    {
        height: 40px;
        position: absolute;
        top:193px;
        left: 605px;
    }

/*第三個長條圖*/
    .progress3
    {
        width: 25%;
        height: 30px;
        border:1px solid rgb(0, 0, 0);
        border-radius: 15px;
        margin: 50px 0 0 100px;
        position: absolute;
        left: 650px;
        top: 250px;
        overflow: hidden;
        box-shadow: 0 0 5px 0px #ddd inset;
    }

    .progress3 span 
    {
        display: inline-block;
        width: 70%;
        height: 100%;
        background: -webkit-linear-gradient(45deg, #ffe298 33%,#f8e5b6 34%,#f8e5b6 59%,#ffe298 60%);
        background-size: 60px 30px;
        text-align: center;
        color:#fff;
        -webkit-animation:load 2s ease-in;
    }

    @-webkit-keyframes load
    {
        0%
        {
            width: 0%;
        }
        100%
        {
            width:70%;
        }
    }

    .longword3
    {
        position: absolute;
        left: 660px;
        top: 300px;
    }

    .longpic3
    {
        height: 40px;
        position: absolute;
        top: 293px;
        left: 610px;
    }

/*第四個長條圖*/
    .progress4
    {
        width: 25%;
        height: 30px;
        border:1px solid rgb(0, 0, 0);
        border-radius: 15px;
        margin: 50px 0 0 100px;
        position: absolute;
        left: 650px;
        top: 350px;
        overflow: hidden;
        box-shadow: 0 0 5px 0px #ddd inset;
    }

    .progress4 span 
    {
        display: inline-block;
        width: 60%;
        height: 100%;
        background: -webkit-linear-gradient(45deg, #ffe298 33%,#f8e5b6 34%,#f8e5b6 59%,#ffe298 60%);
        background-size: 60px 30px;
        text-align: center;
        color:#fff;
        -webkit-animation:load 2s ease-in;
    }

    @-webkit-keyframes load
    {
        0%
        {
            width: 0%;
        }
        100%
        {
            width:60%;
        }
    }

    .longword4
    {
        position: absolute;
        left: 665px;
        top: 400px;
    }

    .longpic4
    {
        height: 40px;
        position: absolute;
        top:392px;
        left: 610px;
    }